* {
    font-family: sans-serif;
    font-size: 20px;
}

body { margin: 0; }

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button.disabled {
    display: none;
}

.button.danger {
    background-color: #f44336;
}

#countdown {
    font-size: 50px;
    color: white;
    font-weight: bolder;

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}